body {
	background-image: url("../images/background.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 	font-family: 'Shrikhand', cursive;
    background-attachment: fixed;
    background-position: center;

 }
 .container {
   min-height:100%;
   position:relative;
 }

.imagesGif {
	float: left;
	margin: 15px;
}

.row {
	margin: 15px;
}

.jumbotron {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-weight: bold;
}

label {
	color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.rating {
	color: whitesmoke;
    padding-top: 10px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.footer {

clear: both;
font-size: 12px;
position: relative;
bottom:0; 
background-color: #ffffff;
border: 1px solid black;
opacity: 0.6;
filter: alpha(opacity=60);
font-weight: bold;
}